* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    height: 50px;
    background-color: black;
    color: white;
}

.right {
    width: 50%;
    min-height: 90vh;
    background-color: green;
    display: inline-block;
}

.left {
    width: 50%;
    min-height: 90vh;
    background-color: red;
     display: inline-block;
}
footer{
    background-color:darkgoldenrod;
    font-family: 'Roboto Mono', monospace;
    /* text-align: center; */
    padding: 4px;
}

.CENTER{
    text-align: center;
}